body{
    margin: 60px;
    padding: 60px;
}

header{
    background-color: palevioletred;
    margin:0;
    padding:0;
    text-align:center;
    height:100px;
    width: 400px;
}


/* 
.header { 
    display: block;
    background-color: pink;
  } */