.crystal-button{
    background-color: palevioletred;



}

/* .header-container{
    background-color: purple;
    padding: 20px;
    margin: 20px;
} */

.instructions{


}


body{
    background-color: palevioletred;

}

header{
    background-color: greenyellow;
    margin:0;
    padding:0;
    text-align:center;
    height:100px;
    width: 100%;
    font-family: 'Sofia', cursive;
    font-weight:normal;
}


/* 
.header { 
    display: block;
    background-color: pink;
  } */